.submit-lente {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
    margin-right: 2px;
}

.submit-line {
    position: relative;
}

.submit-line input {
    width: 100%;
}

.matt-input[type=text] {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: inset 0px 0px 11px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 11px -6px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 11px -6px rgba(0, 0, 0, 1);
    padding-left: 20px;
    background: #ffffff;
    border: 0 solid #000000;
    height: 45px;
    width: 100%
}

.matt-input[type=text]:focus {
    outline: none;
}

.matt-dropbox[type=text] {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: inset 0px 0px 11px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 11px -6px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 11px -6px rgba(0, 0, 0, 1);
    padding-left: 20px;
    background: #ffffff;
    border: 0 solid #000000;
    height: 45px;
    width: 90%
}

.matt-dropbox[type=text]:focus {
    outline: none;
}


/* SERVE PARA FAZER ÍCONES CLICÁVEIS */

.matt-btn-null {
    padding: 0;
    width: fit-content;
    cursor: pointer;
    border: none;
}