@media screen and (max-width: 1024px) {
    .content-nav {
        width: 95%;
    }
    .matt-card-padrao {
        width: 95%;
    }
    .matt-title-home {
        font-size: xx-large;
    }
    .matt-icon-sol-nuvem {
        float: right;
        font-size: 36px;
        margin: 0;
        padding: 0;
    }
    .nome-cidade {
        font-size: 16px;
        font-weight: 700;
        color: rgb(95, 95, 95);
    }
    .matt-justify-container {
        margin: 25px;
        padding-top: 10px;
    }
    .conteudo-em-texto {
        margin: 10px;
        font-size: 20px;
        color: rgb(90, 90, 90);
    }
    /* forms */
    .matt-input[type=text] {
        width: 100%
    }

    /* STYLES INFOS  */

    .more-info{
        margin: 7px;
        font-size: 10pt;
    }
    .icon-info{
        text-align: center;
        justify-self: center;
        align-items: center;
        margin: 0 auto;
        padding-right: 24px;
        color: rgb(95, 95, 95);
    }
    .status-text{
        width: 80%;
        align-self: center;
    }
    .card-text{
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
        color: #0880E6;
        margin: 0 auto;
    }
    .temperatura{
        font-size: auto;
    }
}